*{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p,h6{
    text-align: justify;
    color: rgb(46, 28, 51);
    font-size: 15px;
    font-weight: 100;
}
h6{
    text-align: center;
    
    
    
}
h1{
    font-size: 60px;
    color: rgb(255, 154, 1);
    animation-name: h1Anim;
    animation-duration: 1s;
    
}
@keyframes h1Anim{
    0%{
        margin-top: -50px;
        margin-left: -100px;
    }
    100%{
        margin-left: 0px;
        margin-top: 0px;
    }
}
h3{
    font-size: 30px;
    animation-name: h3Anim;
    animation-duration: 1s;
    
    
    
    
}
@keyframes h3Anim{
    0%{
        margin-bottom: -50px;
        margin-left: -70px;
    }
    100%{
        margin-bottom: 0px;
        margin-left: 0px;
    }
}
footer h2{
    color: darkorange;
}

footer{background-color: black;}
.title{
    text-align: center;
    padding: 30px;
    text-shadow: 5px 5px 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(32, 34, 54);
    
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    box-sizing: content-box;
    
}
.headerP1{
    width: 70%;
    text-align: center;
    left: 0;
    top: 0;
    padding: 125px 0;
    background-color: rgb(7, 7, 7);
    padding: 125px;
    border-radius: 0px 0px 50px 0px ;
    
    
}
.headerP2{
    width: 20%;
    background-color: rgb(32, 35, 70);
    padding: 125px;
    height:200px;
    border-radius: 0 0 60px 60px;
    margin-left: -100px;
    border-left: double 30px rgba(0, 0, 0, 0.555);
    border-bottom: double 20px rgba(0, 0, 0, 0.555);
    
}
header{
    height: 600px;
}
.avatar{
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    left:-250px;
    box-shadow: 10px 10px 5px black;
    opacity: 0.7;
    animation-name: avatarAnim;
    animation-duration: 1s;
    animation-delay: 200ms;
    
}
@keyframes avatarAnim{
    0%{
        margin-right: -200px;

    }
    100%{
        margin-right: 0px;
    }
}
link{
    font-size: larger;
    text-decoration: none;
    font-style: italic;
    color: rgb(255, 154, 1);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 10px;
    display: block;
    height: 50px;
    text-shadow: 2px 2px 3px;
}
header{
    color: rgb(32, 34, 54);
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
    background-color: rgb(196, 195, 182);

   
    display:flex;
    
}
body{

    background-color: rgb(196, 195, 182);
    background-image: url(img/earth.png);
    background-position: right ;
    background-repeat: no-repeat;
    background-size: 800px;
    
    
}
@keyframes projectsAnim{
    0%{
        margin-right: -100px;

    }
    100%{margin-right: 25;}
}
.projects{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    flex-wrap: wrap;
   
    
    
}

.projects>*{
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.329);
    text-align: center;
    
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(237, 243, 243);
    
    margin: 25px 25px;
    width: 250px;
    animation-name:projectsAnim;
    animation-duration: 2s;
    
    
    
}
.projects>div>div{
    width: 100%;
}

.img{
    width: 100%;
    position: relative;
    border-radius: 5px;
    height: 100%;
   
}

.projects>*>div{
    height: 300px;
    width: 200px;
}

.projects>*:hover{

}
.fixed{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(7, 7, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 99999;
}
.modal{
    position:relative;
    opacity: 0;
    bottom: 0;
    left:0;
    display: none;

    
}
.modalVisible{
    position:relative;
    
    bottom:70%;
    left:0;
    display: block;
    background-color: black;
    color: orange;
    width: 250px;
    height: 70%;
    opacity: 0.9;
    border-radius: 20px 20px 0 0 ;
    animation-name: visibleModal ;
    animation-duration: 1s;
    
    
}
@keyframes visibleModal{
    0%{
        opacity: 0;
        bottom: 50%;
   
}
    
    100%{
        opacity: 0.9;
        bottom: 70%;
}
}
.cross{
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid black;
}
.btnUnVisible{
    background-color: black;
    opacity: 0.8;
    border: none;
    position: relative;
    top: 0px;
    right: 0px;
}

.button{
    width: 140px;
    height: 40px;
    background-color: black;
    border-radius: 2px;
    border: rgb(247, 128, 30) 2px solid;
    color: rgb(235, 135, 4);
    box-shadow: 3px 3px 2px rgb(48, 47, 47);
    text-shadow: 3px 3px 2px;
    transition-duration: 1s;
}
.buttonWhite{
    
    background-color: rgba(0, 0, 0, 0.007);
    
}
.menu{
    display: flex;
    align-items: center;
    width: 70%;
    margin:0 auto;
    box-sizing: content-box;
    
    

}
.burgerMenu{
    opacity: 0;
    position: fixed;
    top:50px;
    right: 0;
    background-color: black;
    padding: 15px;
    border-bottom: dashed 3px black;
    height: 200px;
    border-radius: 0 0 20px 20px;
    z-index: 0;
    border: 4px double rgb(42, 47, 75);

}
.burgerMenuVisible{
    opacity: 1;
    animation-name: menuVis;
    animation-duration: 1s;

}
@keyframes menuVis{
    0%{
        top:0px;
    }
    100%{
        top:50px
    }
}
.burger{
    display: none;
}
li>a{
    
    color: rgb(91, 93, 94);
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 100;
    margin: auto 10px;
    text-decoration: none;
    transition: 400ms ease-in-out;
    transition-property: color;
    height: 100%;
    text-align: center;
    
    
    
    
}
li{
    list-style: none;
    box-sizing: content-box;
    display: flex;
    
    align-items: center;
    margin: 0 auto;
    
    
  
}
a:hover{
    color: blue;
    
   
    
}
a:active{
    color: navy;
}
.button:hover{
    border:rgb(42, 41, 75) 3px solid;
    color:rgb(42, 41, 75) ;
    
    box-shadow: none;
    
}
ol.nav > li >b> a.textdecor{
    color: #fceb04;
}
.footer.textdecor.colored{
    color: #fceb04;
}
ol.nav > li >b> a{
    padding: 0 15px;
    height: 100px;
    font-size: 14px;
    font-weight: 700;
    transition: 100ms ease-in-out;
    transition-property: color;
    text-transform: uppercase;
    box-sizing: border-box;
    color:rgb(136, 116, 125);
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 80px;
}
ol.nav > li >b> a:hover{
    color: rgb(248, 214, 122);
}
ol.nav > li >b> a:focus{
    color: rgb(22, 47, 102);
}
.nav{
    display: flex;
    justify-content:center;
    align-items: center;
}
.navbar{
    display:flex;
    width: 100%;
    justify-content:space-between;
    height: 100px;
    box-sizing: border-box;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    filter: drop-shadow(5px 5px 10px rgb(70, 68, 68));
    box-shadow:10px 10px 10px rgb(14, 13, 13);
   
    
}
*{margin: 0%;}
section{
    padding: 100px 0px 100px 0px;
}
ol{
    list-style-type: none;
}
.textdecor{
    color:rgb(250, 174, 10);
}
.footer{
    color: gray;
}
.footer:hover{
    color:rgb(250, 184, 4);
}
.footer:focus{
    color:rgb(53, 6, 163);
}

footer{padding:100px}
.submit{
    border: none;
    background-color: black;
}
#submit{
    width: 137px;
}
.icons{
    height: 30px;
    width: 30px;
}
